@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: white;
}

.notification {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
}

.notification.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

.accept-button{
    width: 100%;
    height: 100px;
    background-color: rgb(82, 82, 255);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
    transition: transform 0.15s;
}

.accept-button:active{
    transform: translate(0em, 0.15em);
}



.bonus-text{
    text-align: center;
    background-color: #292929;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.gift{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.title-text-bonus{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}

.title-bonus-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.user-bonus-cont{
    position: absolute;
    width: 380px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding: 10px;
    visibility: hidden;
}

.user-bonus-cont.visible{
    opacity: 1;
    visibility: visible;
}

.user-bonus-window{
    width: 100%;
    height: 300px;
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
    padding: 45px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secont-text{
    text-align: center;
    padding: 10px;
    background-color: #202020;
    border-radius: 5px;
    font-weight: 100;
    font-size: 13px;
    margin-bottom: 20px;
}

.referrals-count{
    font-size: 20px;
    font-weight: 300;
}

.not-enough-ref-title-text{
    font-size: 25px;
    font-weight: 800;
    color: rgb(255, 115, 115);
}

.referrals_img{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.title-text-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.not-enough-referrals-cont{
    position: absolute;
    width: 380px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding: 10px;
    visibility: hidden;
}

.not-enough-referrals-cont.visible{
    opacity: 1;
    visibility: visible;
}

.not-enough-referrals-window{
    width: 100%;
    height: 270px;
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.level-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2px 0;
    width: 100%;
}

.level-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.level-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.level-progress-bar {
    width: 100%;
    height: 15px;
    background-color: #2c2c2c;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0;
    background-image: linear-gradient(to right, rgb(131, 255, 141), rgb(255, 139, 203), rgb(189, 107, 255));
    border-radius: 10px;
    transition: width 0.4s ease;
}

.news-textt{
    width: 310px;
    height: 550px;
    font-size: 20px;
    text-align: left;
    font-weight: 200;
    display: flex;
    background-color: #202020;
    border-radius: 5px;
    padding: 5px;
}

.news-title-text{
    font-size: 25px;
    font-weight: 800;
}

.news-cat{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.news-title-cont{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.news-window{
    width: 95%;
    height: 560px;
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-container{
    position: absolute;
    width: 380px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding: 10px;
    visibility: hidden;
}

.news-container.visible{
    opacity: 1;
    visibility: visible;
}

.text-about-not-enough{
    text-align: center;
    font-weight: 300;
}

.not_enough_money_img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.text-cont-not-enough{
    font-size: 25px;
    font-weight: 800;
}

.not-enough-money-cont{
    position: absolute;
    width: 380px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding: 10px;
    visibility: hidden;
}

.not-enough-money-cont.visible{
    opacity: 1;
    visibility: visible;
    z-index: 99999;
}

.not-enough-money-window{
    width: 100%;
    height: 160px;
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success-or-error-title-text{
    font-size: 40px;
    color: green;
    font-weight: 800;
}

.text-for-error-or-succes{
    margin-top: 20px;
    text-align: center;
}


.data-payment-window{
    width: 100%;
    height: 200px;
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-payment-cont{
    position: absolute;
    width: 380px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding: 10px;
    visibility: hidden;
}

.data-payment-cont.visible{
    opacity: 1;
    visibility: visible;
    z-index: 99999;
}

.payment-button-and-error-cont{
    display: flex;
    align-items: center;
    width: 100%;
}




.close-payment-button{
    width: 60%;
    height: 40px;
    background-color: rgb(60, 60, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    opacity: 0.5;
    border-radius: 10px;
    transition: transform 0.15s;
    font-weight: 800;
}

.close-payment-button:active{
    transform: translate(0em, 0.20em);
}



.faq-text-cont{
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: 200;
    background-color: rgb(37, 37, 37);
    border-radius: 15px;
}

.payment-button-cont{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    color: #ffffff;
}

.convert_sum{
    width: 100px;
    height: 20px;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #363636;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
}

.convert{
    width: 90px;
    height: 20px;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #363636;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    
}

.send-payment-button{
    width: 120px;
    height: 20px;
    background-color: rgb(60, 60, 255);
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s;
}

.send-payment-button:active{
    transform: translate(0em, 0.20em);
}

.cvv{
    width: 100%;
    height: 25px;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #1f1f1f;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}

.top-card-cvv{
    font-size: 10px;
    margin-bottom: 5px;
}

.date-and-cvv-cont{
    display: flex;
    width: 100%;
}

.date{
    width: 90%;
    height: 25px;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #1f1f1f;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}

.top-card-date{
    font-size: 10px;
    margin-bottom: 5px;
}

.top-card-name-text{
    font-size: 10px;
    margin-bottom: 5px;
}

.card-number{
    width: 100%;
    height: 25px;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #1f1f1f;
    text-indent: 10px;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}


.name-bank{
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

.title-text-con{
    width: 100%;
    align-items: center;
    justify-content: right;
    display: flex;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.front-card-box{
    width: 100%;
    height: 200px;
    background-color: rgb(14, 14, 14);
    border-radius: 15px;
    opacity: 0.5;
    backdrop-filter: blur(20px);
    padding: 10px;
    margin-bottom: 20px;
}

.main-payment-cont{
    width: 100%;
    height: 550px;
    background-color: #1d1d1d;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.title-cont{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.payment-title-text{
    font-size: 50px;
    font-weight: 800;
}

.img-payment{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.payment-cont{
    position: absolute;
    width: 380px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding: 10px;
    visibility: hidden;
}

.payment-cont.visible {
    opacity: 1;
    visibility: visible;
    z-index: 10000;
}

.pyment-window{
    width: 100%;
    height: 600px;
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.referrals-cont{
    position: absolute;
    width: 380px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: hidden;
}

.referrals-cont.visible {
    opacity: 1;
    visibility: visible;
    z-index: 10000;
}

.ref-text-and-img-cont{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.reff-img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.ref-title-text{
    font-size: 20px;
}


.reff-link{
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: rgb(40, 255, 105);
}


.referrals-window{
    width: 100%;
    height: 150px;
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.energy-error-cont {
    position: absolute;
    width: 380px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: hidden;
}

.energy-error-cont.visible {
    opacity: 1;
    visibility: visible;
    z-index: 10000;
}

.energy-error-window{
    width: 100%;
    height: 130px;
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-text-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.error-energy{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.energy-first-text{
    color: rgb(255, 94, 94);
    font-size: 25px;
}

.energy-second-text{
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    color: #979797;
}

.BoostContainer {
    position: absolute;
    width: 380px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: hidden;
}

.BoostContainer.visible {
    opacity: 1;
    visibility: visible;
}


.catboost{
    width: 250px;
    height: 230px;
    margin-bottom: 20px;
}

.boostText{
    margin-bottom: 20px;
    text-align: center;
}

.boost-window{
    width: 100%;
    height: 530px;
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-boost-button{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 68, 255);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.top-box{
    width: 100%;
    height: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rokect-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.15s;
    justify-content: center;
}

.rokect-cont:active{
    transform: translate(0em, 0.55em);
}

.link-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.15s;
}

.link-cont:active{
    transform: translate(0em, 0.55em);
}

.link{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.refferal{
    font-size: 20px;
    font-weight: 800;
}



.rocket{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.boost-text{
    font-size: 20px;
    font-weight: 800;
}

.news-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.15s;
}

.news-cont:active{
    transform: translate(0em, 0.55em);
}

.news{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.news-text{
    font-size: 20px;
    font-weight: 800;
}

.money-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.15s;
    
}

.money-cont:active{
    transform: translate(0em, 0.55em);
}

.money{
    width: 50px;
    height: 50px;
}

.money-text{
    font-size: 20px;
    font-weight: 800;
}




.Box-container{
    width: 420px;
    height: 700px;
    background-color: #1d1d1d;
    padding: 20px;
    border-radius: 15px;
    
}

body{
    background-color: #1d1d1d;
}

@keyframes rise {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(60px);
    }
}

.animation {
    position: absolute;
    font-size: 40px;
    color: white;
    animation: rise 1s forwards;
    pointer-events: none;
}



.Container{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.monetka{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.coins-energy-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.score{
    font-size: 40px;
}

.score-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: white;
    font-size: 40px;
    
}



.catcoin{
    width: 250px;
    height: 250px;
    transition: transform 0.15s;
    margin-bottom: 30px;
}

.catcoin:active{
    transform: translate(0em, 0.75em);
}

.catcoin-box{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.username-box{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.username{
    font-size: 40px;
    font-weight: 300;
    color: #3a3a3a;
}

.energy-container{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.light{
    width: 40px;
    height: 40px;
}

.cont-for-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-app{
    margin-top: 5px;
    width: 45%;
    height: 60px;
    border-radius: 15px;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 25px;
    font-weight: 900;
    transition: transform 0.15s;
}

.close-app:active{
    transform: translate(0em, 0.55em);
}

.icon1{
    width: 70px;
    height: 70px;
}

.icon-con1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: #202020;
    border-radius: 15px;
    flex-direction: column;
    
}

.shop{
    width: 70px;
    height: 70px;
}

.icon-con2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 90px;
    background-color: #2b2b2b;
    border-radius: 15px;
    margin-left: 15px;
}

.friends{
    width: 70px;
    height: 70px;
}

.icon-con3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 90px;
    background-color: #2b2b2b;
    border-radius: 15px;
    margin-left: 15px;
}

.Achievement{
    width: 70px;
    height: 70px;
}

.icon-con4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 90px;
    background-color: #2b2b2b;
    border-radius: 15px;
    margin-left: 15px;
}
